// Variáveis

$bg: #1B1B22;
$purple_font: #9C1BF2;
$gradient_1: linear-gradient(149.55deg, rgba(93, 7, 151, 0.8) 0%, #9C1BF2 100%);
$gradient_2: linear-gradient(90deg, #5D0797 -0.56%, rgba(147, 27, 226, 0.8) 100%);
$white: #FFF;
$border: 1.5px solid rgba(156, 27, 242, 0.2);
$box: 0px 0px 24px 4px rgba(156, 27, 242, 0.2);
