// Variáveis

$bg: #1B1B22;
$purple_font: #9C1BF2;
$gradient_1: linear-gradient(149.55deg, rgba(93, 7, 151, 0.8) 0%, #9C1BF2 100%);
$gradient_2: linear-gradient(90deg, #5D0797 -0.56%, rgba(147, 27, 226, 0.8) 100%);
$white: #FFF;
$border: 1.5px solid rgba(156, 27, 242, 0.2);
$box: 0px 0px 24px 4px rgba(156, 27, 242, 0.2);

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Poppins;
}

body {
    background-color: $bg;
    max-width: 1170px;
    margin: auto;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;

    a {
        text-decoration: none;
        color: $white;
    }

    .container-left {
        position: relative;
        margin: 4vh 0px;
        width: 50%;
        height: 92vh;
        border-radius: 8px;
        background: $gradient_1;

        // display: flex;
        // align-items: center;
        img {
            position: absolute;
            top: 40px;
            left: -60px;
        }
    }

    .container-right {
        position: relative;
        width: 50%;
        height: 100vh;
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        color: $white;

        .register {
            margin-top: 4vh;
            position: absolute;
            right: 0;
            top: 0;
            font-size: 10px;
            cursor: default;

            span {
                color: $purple_font;
                cursor: pointer;
            }
        }

        a {
            font-size: 12px;
        }

        h1 {
            font-size: 22px;
            font-weight: 600;
        }

        h2 {
            margin-top: 32px;
            font-size: 16px;
            font-weight: 500;
        }

        .input {
            position: relative;
            margin: 48px 0 40px 0;

            input {
                max-width: 274px;
                width: 100%;
                height: 56px;
                padding-left: 8px;
                border-radius: 8px;
                outline: none;
            }

            input:nth-child(2) {
                margin-top: 40px;
            }
        }

        .forgot {
            width: 312px;
            text-align: right;
        }

        .button-login {
            margin: 40px 0 48px 0;

            button {
                width: 274px;
                height: 56px;
                background: $gradient_2;
                font-size: 16px;
                color: $white;
                border-radius: 8px;
            }
        }

        .another-login {
            .btn:hover {
                border: 0;
                transition: ease-out 0.8s;
                box-shadow: $box;
            }

            a:first-child {
                position: relative;
            }

            a::before {
                position: absolute;
                width: 78px;
                height: 1px;
                right: 110px; //98+12
                content: "";
                background: $white;
                top: 8px;
            }

            a::after {
                position: absolute;
                width: 78px;
                left: 110px;
                height: 1px;
                content: "";
                background: $white;
                top: 8px;
            }

            .btn_another-login {
                display: flex;
                width: 280px;
                justify-content: space-between;

                a::before,
                a::after {
                    display: none;
                }

                .btn {
                    margin-top: 40px;
                    display: flex;
                    width: 70px;
                    height: 40px;
                    border: $border;
                    border-radius: 8px;
                    align-items: center;
                    justify-content: center;
                    a, img {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }
}

// Responsivo

@media (max-width: 1169px) {
    .container {
        .container-left {
            display: none;
        }

        .container-right {
            width: 100%;
        }
    }

}