$bg: #1B1B22;
$gradient_1: linear-gradient(149.55deg, rgba(93, 7, 151, 0.8) 0%, #9C1BF2 100%);
$gradient_2: linear-gradient(90deg, #5D0797 -0.56%, rgba(147, 27, 226, 0.8) 100%);
$branco: #FFF;
$border: 1.5px solid rgba(156, 27, 242, 0.2);
$box: 0px 0px 24px 4px rgba(156, 27, 242, 0.2);

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Poppins;
}

body {
    background-color: $bg;
    max-width: 1170px;
    margin: auto;
}

.container-left {
    position: relative;
    top: 20px;
    border-radius: 6px;
    width: 585px;
    height: 95vh;
    background: $gradient_1;

        img {
            position: absolute;
            top: 28px;
            left: -56px;
        }
        
}

.container-right {
    position: relative;
    background: $gradient_1;
    left: 585px;
    margin-top: 20px;
    top: -95vh;
    width: 585px;

        h3,span {
            position: absolute;
            top: 13px;
            font-size: 10px;
            line-height: 15px;
            font-style: normal;
            font-weight: normal;
            text-align: center;
        }

        h3 {
            color: $branco;
            left: 438px;
            cursor: default;
        }

        span {
            left: 519px;
            color: #9C1BF2;
            cursor: pointer;
        }

        h1,h2 {
            position: absolute;
            font-style: normal;
            text-align: center;
            color: #FFF;
            cursor: default;
        }

        h1 {
            top: 113px;
            left: 262px;
            font-weight: 600;
            font-size: 22px;
            line-height: 33px;
        }

        h2 {
            top: 174px;
            left: 234px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }

        input, button {
            position: absolute;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            padding-left: 8px;
            left: 215px;
            width: 270px;
            height: 50px;
            border-radius: 6px;
            outline: none;
            background-color: #FFF;
        }

        .input-1 {
            top: 247px;
        }

        .input-2 {
            top: 322px;
        }

        button {
            top: 457px;
            font-size: 16px;
            background: $gradient_2;
            color: #FFF;
            cursor: pointer;
        }

        h4 {
            position: absolute;
            top: 407px;
            left: 372px;
            color: #FFF;
            font-weight: normal;
            font-size: 10px;
            line-height: 15px;
            cursor: pointer;
        }

        h5 {
            position: absolute;
            top: 539px;
            left: 309px;
            color: #FFF;
            font-weight: normal;
            font-size: 10px;
            line-height: 15px;
            align-items: center;
            text-align: center;
            cursor: default;
        }

        h5::after {
            position: absolute;
            bottom: 50%;
            content: "";
            width: 85px;
            height: 1px;
            background: #FFF;
            margin-left: 8px;
        }

        h5::before {
            position: absolute;
            bottom: 50%;
            content: "";
            width: 85px;
            height: 1px;
            background: #FFF;
            right: 90px;
        }

        .rede1,.rede2,.rede3 {
            position: absolute;
            width: 70px;
            height: 40px;
            background-color: $bg;
            border-radius: 6px;
            border: $border;
            cursor: pointer;
        }

        .rede1:hover, .rede2:hover, .rede3:hover {
            border: 0;
            transition: ease-out 0.8s;
            box-shadow: $box;
        }

        .rede1 {
            top: 585px;
            left: 215px;
                
                img {
                    position: absolute;
                    top: 8px;
                    left: 22px;
                }

        }

        .rede2 {
            top: 585px;
            left: 315px;
                
                img {
                    position: absolute;
                    top: 8px;
                    left: 23px;
                }

        }

        .rede3 {
            top: 585px;
            left: 415px;
                
                img {
                    position: absolute;
                    top: 8px;
                    left: 23px;
                }
        }
}


// /* Responsivo Mobile */
// @media (max-width: 576px) {
    
//     .container-left {
//         display: none;
//     }

//     .container-right {
//         left: 0px;
//     }
// }